@model CrwTask.Models.Teams
@{
    ViewBag.Title = "IndexDetails";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Logo</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td scope="row">#</td>
                <td>@Model.ID.</td>
                <td>@Model.Name</td>
                <td><img src="@Model.Logo" /></td>
            </tr>
    </tbody>
</table>

